{% extends "base.html" %}
{% block content %}
<div class="col-xs-12">
  <ol class="breadcrumb">
    <li><a href="{% url 'block_list' %}">
		    首页
	</a></li>
    <li><a href="{% url 'article_list' article.block.id %}">{{ article.block.name }}</a></li>
    <li class="artive">{{article.title}}</li>

  </ol>
  <table class="table table-bordered">
    <tr>
      <td>创建时间</td>
	    <td>{{ article.last_update_timestamp|date:"Y-m-d p" }}</td>
    </tr>
    <tr>
      <td>标题</td>
	    <td>{{ article.title }}</td>
    </tr>
    <tr>
      <td>作者</td>
	    <td>{{ article.owner }}</td>
    </tr>
    <tr>
      <td>内容</td>
	    <td>{{ article.content }}</td>
    </tr>
    {% for comment in comments %}
    <tr>
	    <td>{{ comment.get_status_display }}</td>
	    <td>{{ comment.owner }}</td>
	    <td>{{ comment.content | linebreaksbr }}</td>
	    <td>{{ comment.last_update_timestamp|date:"Y-m-d p" }}</td>
    </tr>
    {% endfor %}
    
   
	     {% if user.is_authenticated %}
         <script type="text/javascript">
$(document).ready(function(){
    $("#commentBtn").click(function(){
    var artice_id = {{ article.id }};
var to_comment_id = 0;
var comment = $("#commentContent").val();
var page_cnt = {{ pagination.page_cnt }};
var param = {"article_id":article_id,"to_comment_id":to_comment_id,"content":comment};
$.post("{% url 'create_comment' %}", param,function(){
$("#commentContent").val("");
window.location.href = "{% url 'article_detail' article.id %}?comment_page_no=" + (page_cnt + 1);
});
})
});
</script>
{% endif %}
    </table>
    <br />
    {% include "component/paginator.html" with param_name="comment_page_no" %}
    </div>
<div>
  {% if messages %}
     {% for message in messages %}
       <div class="alert alert-danger">
	       {{message}}
	</div>
     {% endfor %}
     {% endif %}
  <form method="POST" action="">{% csrf_token %}
   	<div>
  	  <label for="commentContent">                     {{ comment.owner }}
         	</label>
	  <textarea name="Content" class="form-control" rows="10" id="commentContent" placeholder="content"></textarea>
	  </div>
	  <button name="commentBtn" type="submit" id="commentBtn" class="btn btn-primary">发表评论</button>
  </form>
    </div>
    {% endblock %}

